doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bower/ui-select/dist/select.css")
        link(rel="stylesheet", href="/bower/ngprogress/ngProgress.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/socket.io/socket.io.js")
        script(src="/bower/angular/angular.min.js")
        script(src="/bower/angular-sanitize/angular-sanitize.min.js")
        script(src="/bower/ngprogress/build/ngprogress.min.js")
        script(src="/bower/ui-select/dist/select.js")
        script.
            (function () {
                var app = angular.module('app', ['ui.select', 'ngSanitize', 'ngProgress']);
            })();
    body(ng-app="app")
        block content

        block scripts
