
$user-pool-size: 250px;

.chat-wall {
    position: relative;
}

.user-pool {
    width: $user-pool-size;
    position: absolute;
    right: 0;
    top: 0;
}

.message-pool {
    margin-right: $user-pool-size + 16;

    .page-header {
        margin-top: 16px;
    }
}

.message-box {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 400px;
    overflow-y: auto;

    .mine {
        text-align: right;

        .username {
            display: none;
        }
    }

    .content {
        padding: 8px;
        border: 1px solid #888888;
        width: auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 4px;
    }
    
    .time {
        margin-top: 4px;
        background-color: transparent;
        color: #999999;
        text-align: right;
        border-top: 1px solid #d8d8d8;
    }
}